@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  background: #E9C46A;
  font-family: 'Mouse Memoirs', sans-serif;
  color: #2A9D8F;
}

/** Cabecera**/
#cabecera {
  height: 16vh;
  background: #F4A261;
}

.logo {
  float: left;
  width: 30%;
  margin: 5px 0px 0px 35px;
}

#cabecera img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.titulo {
  float: right;
  width: 65%;
  text-align: left;
  font-size: 40px;
  margin-top: 20px;
  letter-spacing: 10px;
}

/** Menu **/
#menu {
  margin-top: 20px;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#menu .plato {
  background: white;
  width: 350px;
  height: 450px;
  margin: 20px 0 30px 90px;
  display: inline-block;
}

#menu img{
  height: 221px;
}

#menu .plato-nombre h3 {
  font-size: 30px;
  text-align: center;
  margin: 10px 0 20px 0;
}

#menu .plato-nombre p {
  padding: 0 20px 0 20px;
  font-size: 18px;
}